
Questions 1:
    
How to import pandas and check the version?

In [1]:
import pandas as pd

In [2]:

print(pd.__version__)

1.0.1


Questions 2:
    
How to create a series from a numpy array?

In [3]:
arr = [1,2,3,4,5]
arr_series = pd.Series(arr)
print(arr_series)
print("Type of arr_series: ", type(arr_series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
Type of arr_series:  <class 'pandas.core.series.Series'>


Questions 3:

How to convert the index of a series into a column of a dataframe?

In [4]:
df = pd.DataFrame({'State': ['Maharashtra', 'Gujarat', 'Madhya Pradesh', 'Rajasthan'], 
                   'Capital': ['Mumbai', 'Gandhinagar', 'Bhopal', 'Jaipur'], 
                   'Area': [307713, 196024, 308252, 342239]}) 
  
print("Dataframe 1 : \n",df)




df['index'] = df.index 
print("\nMethod 1: Index to Column: \n", df)

df1 = pd.DataFrame({'State': ['Maharashtra', 'Gujarat', 'Madhya Pradesh', 'Rajasthan'], 
                   'Capital': ['Mumbai', 'Gandhinagar', 'Bhopal', 'Jaipur'], 
                   'Area': [307713, 196024, 308252, 342239]}) 
  
print("\nDataframe 2 : \n",df1)

df1.reset_index(level=0, inplace=True)

print("\nMethod 2: Index to Column: \n", df1)

Dataframe 1 :
             State      Capital    Area
0     Maharashtra       Mumbai  307713
1         Gujarat  Gandhinagar  196024
2  Madhya Pradesh       Bhopal  308252
3       Rajasthan       Jaipur  342239

Method 1: Index to Column:
             State      Capital    Area  index
0     Maharashtra       Mumbai  307713      0
1         Gujarat  Gandhinagar  196024      1
2  Madhya Pradesh       Bhopal  308252      2
3       Rajasthan       Jaipur  342239      3

Dataframe 2 :
             State      Capital    Area
0     Maharashtra       Mumbai  307713
1         Gujarat  Gandhinagar  196024
2  Madhya Pradesh       Bhopal  308252
3       Rajasthan       Jaipur  342239

Method 2: Index to Column:
    index           State      Capital    Area
0      0     Maharashtra       Mumbai  307713
1      1         Gujarat  Gandhinagar  196024
2      2  Madhya Pradesh       Bhopal  308252
3      3       Rajasthan       Jaipur  342239


Questions 4:

Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [5]:
import seaborn as sns

In [9]:

print("List of Dataset: \n",sns.get_dataset_names())

mpg = sns.load_dataset('mpg')

mpg.head()

List of Dataset:
 ['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino


Questions 5:

Which country origin cars are a part of this dataset?

In [10]:
mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)


Questions 6:

Extract the part of the dataframe which contains cars belonging to 'usa'

In [ ]:
mpg[mpg['origin'] == 'usa']